/*Hero Section*/
.store-btn {
  border: 0px solid;
  background-color: transparent;
}
.store-btn-img {
  width: 49%;
  max-width: 150px;
}
.store-btn-img:nth-child(1) {
  margin-right: 1%;
}
.store-btn-img:nth-child(2) {
  margin-left: 1%;
}

.hero-container-main {
    background-image: url('../../assets/images/hero-bg.png');
    background-size: cover;
}

.hero-img-container img {
  width: 100%;
  max-width: 250px;
}

/* Partner Section */
.partner-container-main {
  border: 1px solid rgb(240 240 240);
  border-left: 0px solid;
  border-right: 0px solid;
}

.partner-container-main img {
  width: 100%;
  max-width: 350px;
  margin: 0px auto;
  display: block;
}

/*How is Works Section*/
.how-it-works-img {
  width: 100%;
  max-width: 350px;
}

/* Assets Classes*/
.assets-container {
  width: 100%;
  max-width: 500px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 10px;
}
.a-header {
  border-radius: 10px 10px 0px 0px;
}
.a-header.stock {
  background-color: #ffded1;
}
.a-header.fixed {
  background-color: #b5e5e5;
}
.a-header.realestate {
  background-color: #e2d5ff;
}
.a-header img {
  position: relative;
  top: 40px;
  border: 13px solid white;
  border-radius: 100px;
}
.gray-text-light {
  color: gray;
}

/*Save Prompt*/
.saving-app-mockup-container img {
  max-width: 290px;
}
.save-button {
  color: white;
  border: 1px solid #5a8386;
  border-radius: 5px;
  background-color: #007d84;
  padding: 14px 44px;
}
.save-prompt-texts {
  max-width: 400px;
}

/*Regulations Section*/
.regulations-container-main {
  background-image: url("../../assets/images/regulation-bg.png");
  background-size: cover;
}

/*Review SEction*/
.review-container {
  border: 1px solid rgb(243, 243, 243);
  border-radius: 10px;
}
.review-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 100px;
}
.community-btn {
  color: #333737;
  border: 1px solid #92bcbc;
  border-radius: 5px;
  background-color: #a0dde2;
  padding: 12px 55px;
}

.community-img {
  width: 100%;
  max-width: 290px;
}

.download-app-prompt-container {
  background-color: #a1e5e5;
  border-radius: 20px;
}

.d-prompt-text {
  color: #006065;
}

.download-app-img {
    width: 100%;
    max-width: 290px;
    position: relative;
    top: 5px;
  }