/*Hero Section*/
.store-btn {
  border: 0px solid;
  background-color: transparent;
}
.store-btn-img {
  width: 49%;
  max-width: 150px;
}
.store-btn-img:nth-child(1) {
  margin-right: 1%;
}
.store-btn-img:nth-child(2) {
  margin-left: 1%;
}

.hero-img-container img {
  width: 100%;
  max-width: 250px;
}

/* Partner Section */
.partner-container-main {
  border: 1px solid rgb(240 240 240);
  border-left: 0px solid;
  border-right: 0px solid;
}

.partner-container-main img {
  width: 100%;
  max-width: 350px;
  margin: 0px auto;
  display: block;
}

/*How is Works Section*/
.how-it-works-img {
  width: 100%;
  max-width: 350px;
}


/* Assets Classes*/
.assets-container {
    width: 100%;
    max-width: 500px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 10px;
}
.a-header {
    border-radius: 10px 10px 0px 0px;
}
.a-header.stock {
    background-color: #ffded1;
}
.a-header.fixed {
    background-color: #b5e5e5;
}
.a-header.realestate {
    background-color: #e2d5ff;
}
.a-header img {
    position: relative;
    top: 40px;
    border: 13px solid white;
    border-radius: 100px;
}
.gray-text-light {
    color: gray
}